<!DOCTYPE html>
<html lang="en">
<!-- Bank card management module -->
<div class="tab-pane active" id="bankCardManage" role="tabpanel" th:fragment="bankCardManageList">
    <!-- Add bank card -->
    <div class="check-div form-inline">
        <div class="col-xs-3">
            <button class="btn btn-yellow btn-xs" data-target="#addBankCard" data-toggle="modal">Add Bank Card</button>
        </div>
    </div>
    <div class="data-div">
        <div class="row tableHeader">
            <div class="col-xs-2 ">
                Username
            </div>
            <div class="col-xs-2">
                Bank Name
            </div>
            <div class="col-xs-2">
                Bank Card Number
            </div>
            <div class="col-xs-2">
                Account Number
            </div>
            <div class="col-xs-2">
                Balance
            </div>
            <div class="col-xs-2">
                Operations
            </div>
        </div>
        <div class="tablebody" id="bankCardManageList">

        </div>


    </div>
    <!-- Pagination block -->
    <footer class="footer">
        <ul class="pagination">
            <li>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
                Page
            </li>
            <li class="gray">
                Total 20 pages
            </li>
            <li>
                <i><b><</b></i>
            </li>
            <li>
                <i><b>></b></i>
            </li>
        </ul>
    </footer>
    <!-- Pop-up window for adding a bank card -->
    <div aria-labelledby="gridSystemModalLabel" class="modal fade" id="addBankCard" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add Bank Card</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="form-horizontal">
                            <div class="form-group ">
                                <label class="col-xs-3 control-label">Bank Card Number:</label>
                                <div class="col-xs-8 ">
                                    <input class="form-control input-sm neat" id="addBankCardNumber">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Password:</label>
                                <div class="col-xs-8 ">
                                    <input class="form-control input-sm neat" id="addBankCardPassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Confirm Password:</label>
                                <div class="col-xs-8">
                                    <input class="form-control input-sm neat" id="addBankCardRepeatPassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Bank Name:</label>
                                <div class="col-xs-8">
                                    <select class=" form-control select-neat" id="bankSelect">
                                        <option value="">Barclays</option>
                                        <option value="">LloydsBank</option>
                                        <option value="">HSBC</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-xs btn-white" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-xs btn-green" onclick="addBankCard()" type="button">Confirm</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Pop-up window for modifying bank card information -->
    <div aria-labelledby="gridSystemModalLabel" class="modal fade" id="modifyBankCard" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modify Bank Card Information</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Password:</label>
                                <div class="col-xs-8 ">
                                    <input class="form-control input-sm neat" id="modifyBankCardPassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Confirm Password:</label>
                                <div class="col-xs-8">
                                    <input class="form-control input-sm neat"
                                           id="modifyRepeatBankCardPassword">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-xs btn-white" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-xs btn-green" onclick="changeBankcardPassword()" type="button">Confirm</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Pop-up warning window for deleting a bank card -->
    <div aria-labelledby="gridSystemModalLabel" class="modal fade" id="deleteBankCard" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Prompt</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        Are you sure you want to delete this bank card? It cannot be recovered after deletion!
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-xs btn-white" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn  btn-xs btn-danger" onclick="deleteBankcard()" type="button">Confirm</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
</html>