<!DOCTYPE html>
<html lang="en">

<!-- Password modification module -->
<div class="tab-pane" id="modifyPassword" role="tabpanel" th:fragment="modifyPasswordList">
    <div class="check-div">
        The original password is [[${session.loginUserPassword}]]
    </div>
    <div style="padding: 50px 0;margin-top: 50px;background-color: #fff; text-align: right;width: 420px;margin: 50px auto;">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-4 control-label">Old Password:</label>
                <div class="col-xs-5">
                    <input class="form-control input-sm neat" id="oldPassword" style="margin-top: 7px;">
                </div>
            </div>
            <div class=" form-group">
                <label class="col-xs-4 control-label">New Password:</label>
                <div class="col-xs-5">
                    <input class="form-control input-sm neat" id="newPassword" style="margin-top: 7px;">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Repeat Password:</label>
                <div class="col-xs-5">
                    <input class="form-control input-sm neat" id="repeatPassword" placeholder=""
                           style="margin-top: 7px;"
                           type="">
                </div>
            </div>
            <div class="form-group text-right">
                <div class="col-xs-offset-4 col-xs-5" style="margin-left: 169px;">
                    <button class="btn btn-xs btn-white" type="reset">Cancel</button>
                    <button class="btn btn-xs btn-green" onclick="changePassword()">Confirm</button>
                </div>
            </div>
        </form>
    </div>
</div>

</html>